<%- include('header') %>
<%- include('navigation-bar') %>
<div class="container" id="about1" style="padding-top: 50px;">
    <img class="avatar" src="images/prof.jpeg" style="width: 200px; height:270px; margin-bottom: 5px" alt="Profile Picture">
    <h1 style="text-shadow: 2px 2px white; background-color: #62CDFF;">Mohammed Abdul Rahman</h1>
    <h2 style="text-shadow: 1px 1px orange; background-color: black; color: white;">Data Scientist | Full Stack Developer | Machine Learning Engineer | Freelancer </h2>
    <br><br>
    <div>
        <h5 class="card" style="background-color:#D4FAFC; text-align: justify; padding: 10px 10px 10px 10px;">
            
            My mission is to use statistical analysis, Machine Learning, Programming and Artificial Intelligence to draw insights from the
            data. I am committed to constant learning and adapting my new skills to solve complex problems, while maintaining a high ethical 
            standard and deep sense of responsibility to my stakeholders. I strive to communicate my findings effectively to diverse audience, 
            while promoting transparency and acuracy in my work. My aim is to levarage data to create positive social impact and contribute to 
            a more data driven and equitable world. <br><br><br>
    
            I have completed my bachelors in Computer Science & Engineering from JNTU College of Engineering Manthani in first class. I have 
            done my Intermediate in PCM from Scr Chaitanya Junior College Hyderabad, there I scored 963/1000. I have done many courses to learn
            programming,web development and data science. <br><br><br>

            I have done my internships in Coding Ninjas(Teaching Assistant for DSA and C++) and also Chegg(Subject Matter Expert). I have participate 
            in plenty of coding competitions and also hackathons. I stood #1 in Maching Learning hackathon where I invented a model which detects disease
            of plants based on the leaves. I also ranked global #1 in codechef in starters 55 back in 2022.
        </h5>        
    </div>
    <br><br>
    
</div>
<%- include('social') %>
<%- include('footer') %>