<%- include('header') %>
<%- include('navigation-bar') %>


    <center>
        <div id="about1">
            <div class="container-fluid project-cards">
                <div class="card" style="width: 22rem;">
                    <img src="/images/mL-pic.jpeg" class="card-img-top" alt="image of the project">
                    <div class="card-body">
                    <h5 class="card-title" style="text-decoration: underline;">Image recognision and classification</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Machine Learning</h6>
                      <p class="card-text">Here we are using Convolutional neural network(CNNs) using which we are detecting features of image
                        such as edges, textures and shapes. Using large dataset of labeled pictures to train the network to recognize patterns and features
                        within the images that correspond to specific classes or categories.
                    </p>
                    <a href="#" class="card-link" style="text-decoration: none; color:blue"><img src="/images/youtube.png" alt="" style="height:25px ; width:25px;">Youtube</a>
                    <a href="#" class="card-link" style="text-decoration: none; color:blue"><img src="/images/github.png" alt="" style="height:25px ; width:25px;">Github</a>
                    </div>
                  </div>
        </div>
        
            <div class="container-fluid project-cards">
                <div class="card" style="width: 22rem;">
                    <img src="/images/mL2-pic.jpeg" class="card-img-top" alt="image of the project">
                    <div class="card-body">
                    <h5 class="card-title" style="text-decoration: underline;">Image recognision and classification</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Artificial Intelligence & Machine Learning</h6>
                      <p class="card-text">Here we are using Convolutional neural network(CNNs) using which we are detecting features of image
                        such as edges, textures and shapes. Using large dataset of labeled pictures to train the network to recognize patterns and features
                        within the images that correspond to specific classes or categories.
                    </p>
                    <a href="#" class="card-link" style="text-decoration: none; color:blue"><img src="/images/youtube.png" alt="" style="height:25px ; width:25px;">Youtube</a>
                    <a href="#" class="card-link" style="text-decoration: none; color:blue"><img src="/images/github.png" alt="" style="height:25px ; width:25px;">Github</a>
                    </div>
                  </div>
        </div>
        </div>
    
        <div class="container-fluid project-cards">
            <div class="card" style="width: 22rem;">
                <img src="/images/mL3-pic.webp" class="card-img-top" alt="image of the project">
                <div class="card-body">
                <h5 class="card-title" style="text-decoration: underline;">Email segregation and Integration</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Machine Learning</h6>
                  <p class="card-text">Here we are using Convolutional neural network(CNNs) using which we are detecting features of image
                    such as edges, textures and shapes. Using large dataset of labeled pictures to train the network to recognize patterns and features
                    within the images that correspond to specific classes or categories.
                </p>
                <a href="#" class="card-link" style="text-decoration: none; color:blue"><img src="/images/youtube.png" alt="" style="height:25px ; width:25px;">Youtube</a>
                <a href="#" class="card-link" style="text-decoration: none; color:blue"><img src="/images/github.png" alt="" style="height:25px ; width:25px;">Github</a>
                </div>
              </div>
    </div>
    </div>

    <div class="container-fluid project-cards">
        <div class="card" style="width: 22rem;">
            <img src="/images/mL4-pic.jpeg" class="card-img-top" alt="image of the project">
            <div class="card-body">
            <h5 class="card-title" style="text-decoration: underline;">House Price Prediction</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Machine Learning</h6>
              <p class="card-text">Here we are using Convolutional neural network(CNNs) using which we are detecting features of image
                such as edges, textures and shapes. Using large dataset of labeled pictures to train the network to recognize patterns and features
                within the images that correspond to specific classes or categories.
            </p>
            <a href="#" class="card-link" style="text-decoration: none; color:blue"><img src="/images/youtube.png" alt="" style="height:25px ; width:25px;">Youtube</a>
            <a href="#" class="card-link" style="text-decoration: none; color:blue"><img src="/images/github.png" alt="" style="height:25px ; width:25px;">Github</a>
            </div>
          </div>
</div>
</div>
    </center>


    
    




<%- include('footer') %>




