<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.instagram.com/rahman_md03/"><i class="icon ion-social-instagram zoom-effect"></i></a>
            <a href="https://github.com/mdrahmanabdul"><i class="icon ion-social-github zoom-effect"></i></a>
            <a href="https://twitter.com/Mohamme49271064"><i class="icon ion-social-twitter zoom-effect"></i></a>
            <a href="https://www.facebook.com/"><i class="icon ion-social-facebook zoom-effect"></i></a>
        </div>
        
        <p class="copyright">©2023 All Rights Reserved</p>
        <p class="copyright">Made with ❤️ | Designed and Developed by</p>
        <p class="copyright">Mohammed Abdul Rahman</p>
        <br><br><br><br>
    </footer>
</div>
