

<div class="welcome-msg container-fluid" id="msg">
    <center>
    <p style="font-size:30px;">Hi, my name is </p> 
    <span><p id="msg-name">Abdul Rahman</p></span> 
    <h4 style="font-family: Papyrus">" I want to help others to make the right decisions, data-driven decisions "</h4>
    </center>
</div>


